<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Главная страница</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h3>И на Марсе будут яблони цвести!</h3>
        </br>
        <div>
            <h4>Инженерные тренажеры:</h4>
            <h5>Инженер</h5>
            <h5>Строитель</h5>
            <h5>Механик</h5>
            <h5>Конструктор</h5>
            </br>
            <h4>Научные симуляторы:</h4>
            <h5>Учёный</h5>
            <h5>Врач</h5>
            <h5>Доктор</h5>
            <h5>Биолог</h5>
            </br>
            <h4>Безработный:</h4>
            <h5>Всё остальное</h5>
        </div>
        </br>
        </br>
        <h3>http://127.0.0.1:8080/training/prof</h3>
    </body>
</html>