<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Список профессий</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
        </br>
        <h2>Список профессий</h2>
        {% if list == "ol" %}
             <ol>
                 {% for i in ["Инженер-исследователь", "Пилот", "Строитель", "Экзобиолог", "Врач",
                    "Инженер по терраформированию", "Климатолог", "Специалист по радиационной защите",
                    "Астрогеолог", "Гляциолог", "Инженер жизнеобеспечения", "Метеоролог",
                    "Оператор марсохода", "Киберинженер", "Штурман", "Пилот дронов"] %}
                     <li>{{ i }}</li>
                 {% endfor %}
             </ol>
        {% elif list == "ul" %}
             <ul>
                 {% for i in ["Инженер-исследователь", "Пилот", "Строитель", "Экзобиолог", "Врач",
                    "Инженер по терраформированию", "Климатолог", "Специалист по радиационной защите",
                    "Астрогеолог", "Гляциолог", "Инженер жизнеобеспечения", "Метеоролог",
                    "Оператор марсохода", "Киберинженер", "Штурман", "Пилот дронов"] %}
                     <li>{{ i }}</li>
                 {% endfor %}
             </ul>
        {% endif %}
    </body>
</html>